---
import DocsLayout from "@/layouts/DocsLayout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const docs = await getCollection("docs");
    return docs.map((doc) => ({
        params: { slug: doc.slug },
        props: { doc },
    }));
}
const { doc } = Astro.props;

const { Content } = await doc.render();
---

<DocsLayout title={`Awesome Components - ${doc.data.title}`}>
    <section class="grid grid-cols-[1fr_25%] overflow-y-auto">
        <article
            class="flex flex-col items-center px-5 py-8 sm:px-6 lg:px-8 overflow-y-auto"
        >
            <div
                class="w-full mx-auto prose prose-headings:text-dark max-w-[90%]"
            >
                <h1>{doc.data.title}</h1>

                <Content />
            </div>
        </article>

        <aside
            class="flex flex-col px-5 py-8 sm:pr-6 lg:pr-8 prose border-l border-slate-50 overflow-y-auto"
        >
            <h4>On this page</h4>

            <ul class="flex flex-col gap-4 p-0 overflow-y-auto">
                {
                    Array.from({ length: 10 }, (v, i) => i + 1).map((v) => (
                        <li class="list-none m-0">
                            <a
                                href="/#"
                                class="block m-0 before:content-['#'] before:text-[70%] no-underline hover:underline hover:text-blue-700"
                            >
                                Topic {v}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </aside>
    </section>
</DocsLayout>
