---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";

import { getCollection } from "astro:content";
const allDocs = await getCollection("docs");
---

<Layout title="Welcome to Youi.">
    <Hero />

    <section>
        <div class="max-w-5xl mx-auto flex flex-col gap-5">
            <div class="pt-10 rounded-t-2xl bg-white">
                <h1 class="font-bold text-3xl">Components</h1>
            </div>
            <div class="grid grid-cols-3 gap-5">
                {
                    allDocs.map((doc, i) => (
                        <a href="">
                            <div class=" shadow border border-slate-200 rounded overflow-hidden">
                                <div class="h-[200px] bg-slate-100 flex justify-center items-center text-sm italic">
                                    image placeholder
                                </div>
                                <div class="py-3 px-5">
                                    <h3 class="text-indigo-800 text-xl">
                                        {doc.data.title}
                                    </h3>
                                    <div class="flex gap-1">
                                        {doc.data.tags.map((tag) => (
                                            <span class="text-xs p-1 bg-slate-50 rounded">
                                                #{tag}
                                            </span>
                                        ))}
                                    </div>
                                </div>
                            </div>
                        </a>
                    ))
                }
            </div>
        </div>
    </section>
</Layout>
