<div
	class="h-[45vh] bg-black-1 flex flex-col justify-center items-center gap-4"
>
	<h1 class="text-white text-6xl mx-auto text-center font-black">youi</h1>
	<p class="text-white italic text-center">Awesome components that i use</p>
</div>
