---
export interface Props {
    title: string;
}

const { title } = Astro.props;

import { getCollection } from "astro:content";

const allDocs = await getCollection("docs");

import "@/styles.css";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main class="flex flex-col h-full fixed inset-0 overflow-hidden">
            <header class="p-5 border-b border-slate-300 shadow-sm">
                <a href="/" class="fonnt-semibold">Home</a>
            </header>
            <div class="grid grid-cols-[20%_1fr] overflow-y-auto">
                <aside class="border-r border-slate-300 p-5 overflow-y-auto">
                    <ul class="flex flex-col gap-1">
                        {
                            allDocs.map((doc) => (
                                <li class="list-none  pb-1">
                                    <a
                                        href={`/components/${doc.slug}`}
                                        class="text-slate-700 text-base hover:text-slate-800 hover:underline transition-all duration-300"
                                    >
                                        {doc.data.title}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </aside>
                <slot />
            </div>
        </main>
    </body>
</html>
