---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import "@/styles.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />

		<footer class="py-5 text-center mt-5 text-slate-600">
			Proudly by <a href="https://github.com/vfshera">Franklin Shera</a>
		</footer>
	</body>
</html>
